@using System.Security.Policy
@using Infrastructure.Models
@{
    Layout = null;
    var user = (UserModel)Session["User"];
    var imageSrc = "/assets/img/avatar/avatar-1.jpg";
    if (user != null && user.Avatar != null)
    {
        var imageBase64 = Convert.ToBase64String(user.Avatar);
        imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Sentir, Responsive admin and dashboard UI kits template">
    <meta name="keywords" content="admin,bootstrap,template,responsive admin,dashboard template,web apps template">
    <meta name="author" content="Ari Rusmanto, Isoh Design Studio, Warung Themes">
    <title>@ViewBag.Title - Huwax Oto Yıkama Admin</title>

    <!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- PLUGINS CSS -->
    <link href="~/assets/plugins/weather-icon/css/weather-icons.min.css" rel="stylesheet">
    <link href="~/assets/plugins/prettify/prettify.min.css" rel="stylesheet">
    <link href="~/assets/plugins/magnific-popup/magnific-popup.min.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel/owl.theme.min.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel/owl.transitions.min.css" rel="stylesheet">
    <link href="~/assets/plugins/chosen/chosen.min.css" rel="stylesheet">
    <link href="~/assets/plugins/icheck/skins/all.css" rel="stylesheet">
    <link href="~/assets/plugins/datepicker/datepicker.min.css" rel="stylesheet">
    <link href="~/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/assets/plugins/validator/bootstrapValidator.min.css" rel="stylesheet">
    <link href="~/assets/plugins/summernote/summernote.min.css" rel="stylesheet">
    <link href="~/assets/plugins/markdown/bootstrap-markdown.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatable/css/bootstrap.datatable.min.css" rel="stylesheet">
    <link href="~/assets/plugins/morris-chart/morris.min.css" rel="stylesheet">
    <link href="~/assets/plugins/c3-chart/c3.min.css" rel="stylesheet">
    <link href="~/assets/plugins/slider/slider.min.css" rel="stylesheet">

    <!-- MAIN CSS (REQUIRED ALL PAGE)-->
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="tooltips">
    <div class="wrapper">
        <!-- BEGIN TOP NAV -->
        <div class="top-navbar">
            <div class="top-navbar-inner">

                <!-- Begin Logo brand -->
                <div class="logo-brand">
                    <a href="@Url.Action("Index","Home")"><img src="~/assets/img/logo/huwax.PNG" alt="Sentir logo"></a>
                </div><!-- /.logo-brand -->
                <!-- End Logo brand -->
                <div class="top-nav-content">
                    <!-- Begin button sidebar left toggle -->
                    <div class="btn-collapse-sidebar-left">
                        <i class="fa fa-long-arrow-right icon-dinamic"></i>
                    </div><!-- /.btn-collapse-sidebar-left -->
                    <!-- End button sidebar left toggle -->
           
                    <!-- Begin button nav toggle -->
                    <div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav">
                        <i class="fa fa-plus icon-plus"></i>
                    </div><!-- /.btn-collapse-sidebar-right -->
                    <!-- End button nav toggle -->
                    <!-- Begin user session nav -->
                    <ul class="nav-user navbar-right">
                        <li class="dropdown">
                            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@imageSrc" class="avatar img-circle" alt="Avatar">
                                <strong>@user.Name @user.LastName</strong>
                            </a>
                            <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                                <li>
                                    <a href="@Url.Action("UserProfileEdit","User",new {userId=user.UserId})">Kullanıcı Düzenle</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("UserProfile","User",new {userId=user.UserId})">Kullanıcı Profili</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Lock","Account")">Kitle</a></li>
                                <li><a href="@Url.Action("LogOff", "Account")">Çıkış</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End user session nav -->
                    <!-- Begin Collapse menu nav -->
                    <div class="collapse navbar-collapse" id="main-fixed-nav">
                        <!-- Begin nav search form -->
                   
                        <!-- End nav search form -->
                        
                    </div><!-- /.navbar-collapse -->
                    <!-- End Collapse menu nav -->
                </div><!-- /.top-nav-content -->
            </div><!-- /.top-navbar-inner -->
        </div><!-- /.top-navbar -->
        <!-- END TOP NAV -->
        <!-- BEGIN SIDEBAR LEFT -->
        <div class="sidebar-left sidebar-nicescroller">
            <ul class="sidebar-menu">
                <li class="static left-profile-summary">
                    <div class="media">

                        <p class="pull-left">
                            <img src="@imageSrc" class="avatar img-circle media-object" alt="Avatar">
                        </p>

                        <div class="media-body">
                            <h4>Merhaba, <br /><strong>@user.Name @user.LastName</strong></h4>
                            <a href="@Url.Action("LogOff","Account")">
                                <div class="btn btn-danger btn-xs">
                                    Çıkış
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard icon-sidebar"></i>Dashboard</a></li>
                <li><a href="@Url.Action("AddCarWash", "CarWash")"><i class="fa fa-chain-broken icon-sidebar"></i>Yıkama</a></li>
                <li>
                    <a href="#fakelink">
                        <i class="fa  fa-users icon-sidebar"></i>
                        <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                        Personel
                    </a>
                    <ul class="submenu">
                        <li><a href="@Url.Action("AddPersonnel", "Personnel")">Yeni Personel Ekle</a></li>
                        <li><a href="@Url.Action("PersonnelList", "Personnel")">Tüm Personeller</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#fakelink">
                        <i class="fa fa-truck icon-sidebar"></i>
                        <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                        Müşteriler
                    </a>
                    <ul class="submenu">
                        <li><a href="@Url.Action("AddVehicle", "Vehicle")">Yeni Araba Ekle</a></li>
                        <li><a href="@Url.Action("VehicleList", "Vehicle")">Tüm Arabalar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#fakelink">
                        <i class="fa fa-user icon-sidebar"></i>
                        <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                        Kullanıcılar
                    </a>
                    <ul class="submenu">
                        <li><a href="@Url.Action("AddUser", "User")">Kullanıcı Ekle</a></li>
                        <li><a href="@Url.Action("UserList", "User")">Kullanıcılar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#fakelink">
                        <i class="fa fa-money icon-sidebar"></i>
                        <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                        Cari
                    </a>
                    <ul class="submenu">
                        <li><a href="@Url.Action("CariAdd","Cari")">Cari Ekle</a></li>
                        <li><a href="@Url.Action("CariList","Cari")">Cari Listesi</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.sidebar-left -->
        <!-- END SIDEBAR LEFT -->    
       
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
            <div class="container-fluid">
                @RenderBody()
        </div><!-- /.container-fluid -->
        <!-- BEGIN FOOTER -->
        <footer>
            &copy; @DateTime.Now.Year <a href="http://www.anonimyazilim.com">Anonim Yazilim</a><br />
        </footer>
        <!-- END FOOTER -->


    </div><!-- /.page-content -->
</div>
 

<!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/plugins/retina/retina.min.js"></script>
<script src="~/assets/plugins/nicescroll/jquery.nicescroll.js"></script>
<script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/assets/plugins/backstretch/jquery.backstretch.min.js"></script>

<!-- PLUGINS -->
<script src="~/assets/plugins/skycons/skycons.js"></script>
<script src="~/assets/plugins/prettify/prettify.js"></script>
<script src="~/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="~/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="~/assets/plugins/chosen/chosen.jquery.min.js"></script>
<script src="~/assets/plugins/icheck/icheck.min.js"></script>
<script src="~/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="~/assets/plugins/timepicker/bootstrap-timepicker.js"></script>
<script src="~/assets/plugins/mask/jquery.mask.min.js"></script>
<script src="~/assets/plugins/validator/bootstrapValidator.min.js"></script>
<script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="~/assets/plugins/datatable/js/bootstrap.datatable.js"></script>
<script src="~/assets/plugins/summernote/summernote.min.js"></script>
<script src="~/assets/plugins/markdown/markdown.js"></script>
<script src="~/assets/plugins/markdown/to-markdown.js"></script>
<script src="~/assets/plugins/markdown/bootstrap-markdown.js"></script>
<script src="~/assets/plugins/slider/bootstrap-slider.js"></script>

<!-- EASY PIE CHART JS -->
<script src="~/assets/plugins/easypie-chart/easypiechart.min.js"></script>
<script src="~/assets/plugins/easypie-chart/jquery.easypiechart.min.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="~/assets/plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>
<script src="~/assets/plugins/jquery-knob/knob.js"></script>

<!-- FLOT CHART JS -->
<script src="~/assets/plugins/flot-chart/jquery.flot.js"></script>
<script src="~/assets/plugins/flot-chart/jquery.flot.tooltip.js"></script>
<script src="~/assets/plugins/flot-chart/jquery.flot.resize.js"></script>
<script src="~/assets/plugins/flot-chart/jquery.flot.selection.js"></script>
<script src="~/assets/plugins/flot-chart/jquery.flot.stack.js"></script>
<script src="~/assets/plugins/flot-chart/jquery.flot.time.js"></script>

<!-- MORRIS JS -->
<script src="~/assets/plugins/morris-chart/raphael.min.js"></script>
<script src="~/assets/plugins/morris-chart/morris.min.js"></script>

<!-- C3 JS -->
<script src="~/assets/plugins/c3-chart/d3.v3.min.js" charset="utf-8"></script>
<script src="~/assets/plugins/c3-chart/c3.min.js"></script>

<!-- MAIN APPS JS -->
<script src="~/assets/js/apps.js"></script>

</body>
</html>